In [1]:
# 1. Importamos los paquetes necesarios
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# 2. Importamos el archivo xlsx y lo convertimos en DataFrame
df = pd.read_excel('Gaming_Survey.xlsx')

In [3]:
# 3. Dimensiones del dataset
print(f"Filas y columnas: {df.shape}")

Filas y columnas: (500, 22)

In [4]:
# 4. Primeras filas del dataset
print("\nPrimeras filas:")
display(df.head())

Primeras filas:

,Timestamp,Age,Gender,Location,How often do you play video games?,How many hours do you typically spend gaming in a week?,Which device do you play games on the most?(Check all that apply),What genres of video games do you play? (Check all that apply),What is your favorite game?,How do you discover new games? (Check all that apply),...,Why do you play video games? (Check all that apply),How often do you play video games?,How many hours do you typically spend gaming in a week?,Which device do you play games on the most?(Check all that apply),What genres of video games do you play? (Check all that apply),What is your favorite game?,How do you discover new games? (Check all that apply),Do you prefer single-player or multiplayer games?,"How much do you spend on gaming monthly (including in-game purchases, new games, etc.)?",Why do you play video games? (Check all that apply)
0,2024-10-24 13:09:27.109,18,Male,Bangalore,Daily,10-20 hours,Mobile,Sports,FC MOBILE,"Social Media, Gaming Forums",...,"For fun/entertainment, To relieve stress",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-10-24 13:09:34.343,19,Male,"Hell road , Bangalore",Rarely/Never,0,Mobile,"Puzzle/Strategy, Simulation (e.g., The Sims)",Wukong,Social Media,...,To improve skills/competition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-10-24 13:23:13.403,19,Male,Bangalore,Rarely/Never,More than 20 hours,"Console (PlayStation, Xbox, etc.)",First-Person Shooter (FPS),Call of duty,Gaming Forums,...,For fun/entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-10-24 13:30:42.445,18,Female,Banglore,Rarely/Never,Less than 5 hours,Mobile,Puzzle/Strategy,Subway,Social Media,...,For fun/entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-10-24 13:32:26.815,18,Female,"Banglore, Karnataka",Daily,Less than 5 hours,"PC, Mobile","Action/Adventure, First-Person Shooter (FPS), ...",Solo leveling arise,Friends/Family Recommendations,...,"For fun/entertainment, To relieve stress, To s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# 5. Tipos de datos
print("\nTipos de datos:")
print(df.dtypes)

Tipos de datos:
Timestamp                                                                                     datetime64[ns]
Age                                                                                                    int64
Gender                                                                                                object
Location                                                                                              object
  How often do you play video games?                                                                  object
  How many hours do you typically spend gaming in a week?                                             object
  Which device do you play games on the most?(Check all that apply)                                   object
What genres of video games do you play? (Check all that apply)                                        object
  What is your favorite game?                                                                         object
How do you discover new games? (Check all that apply)                                                 object
  Do you prefer single-player or multiplayer games?                                                   object
 How much do you spend on gaming monthly (including in-game purchases, new games, etc.)?              object
Why do you play video games? (Check all that apply)                                                   object
How often do you play video games?                                                                    object
How many hours do you typically spend gaming in a week?                                               object
Which device do you play games on the most?(Check all that apply)                                     object
What genres of video games do you play? (Check all that apply)                                        object
What is your favorite game?                                                                           object
How do you discover new games? (Check all that apply)                                                 object
Do you prefer single-player or multiplayer games?                                                     object
How much do you spend on gaming monthly (including in-game purchases, new games, etc.)?               object
Why do you play video games? (Check all that apply)                                                   object
dtype: object

In [6]:
# 6. Información general del dataset
print("\nInformación general:")
print(df.info())

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 22 columns):
 #   Column                                                                                      Non-Null Count  Dtype
---  ------                                                                                      --------------  -----
 0   Timestamp                                                                                   500 non-null    datetime64[ns]
 1   Age                                                                                         500 non-null    int64
 2   Gender                                                                                      500 non-null    object
 3   Location                                                                                    500 non-null    object
 4     How often do you play video games?                                                        500 non-null    object
 5     How many hours do you typically spend gaming in a week?                                   500 non-null    object
 6     Which device do you play games on the most?(Check all that apply)                         500 non-null    object
 7   What genres of video games do you play? (Check all that apply)                              500 non-null    object
 8     What is your favorite game?                                                               500 non-null    object
 9   How do you discover new games? (Check all that apply)                                       500 non-null    object
 10    Do you prefer single-player or multiplayer games?                                         500 non-null    object
 11   How much do you spend on gaming monthly (including in-game purchases, new games, etc.)?    500 non-null    object
 12  Why do you play video games? (Check all that apply)                                         500 non-null    object
 13  How often do you play video games?                                                          300 non-null    object
 14  How many hours do you typically spend gaming in a week?                                     300 non-null    object
 15  Which device do you play games on the most?(Check all that apply)                           300 non-null    object
 16  What genres of video games do you play? (Check all that apply)                              300 non-null    object
 17  What is your favorite game?                                                                 300 non-null    object
 18  How do you discover new games? (Check all that apply)                                       300 non-null    object
 19  Do you prefer single-player or multiplayer games?                                           300 non-null    object
 20  How much do you spend on gaming monthly (including in-game purchases, new games, etc.)?     300 non-null    object
 21  Why do you play video games? (Check all that apply)                                         300 non-null    object
dtypes: datetime64[ns](1), int64(1), object(20)
memory usage: 86.1+ KB
None

In [7]:
# 7. Porcentaje de valores nulos por columna
print("\nPorcentaje de valores nulos por columna:")
missing_percentage = df.isnull().sum() / len(df) * 100
print(missing_percentage.sort_values(ascending=False))

Porcentaje de valores nulos por columna:
Why do you play video games? (Check all that apply)                                           40.0
How much do you spend on gaming monthly (including in-game purchases, new games, etc.)?       40.0
Do you prefer single-player or multiplayer games?                                             40.0
How do you discover new games? (Check all that apply)                                         40.0
What is your favorite game?                                                                   40.0
What genres of video games do you play? (Check all that apply)                                40.0
Which device do you play games on the most?(Check all that apply)                             40.0
How many hours do you typically spend gaming in a week?                                       40.0
How often do you play video games?                                                            40.0
Age                                                                                            0.0
Why do you play video games? (Check all that apply)                                            0.0
Timestamp                                                                                      0.0
  Do you prefer single-player or multiplayer games?                                            0.0
How do you discover new games? (Check all that apply)                                          0.0
  What is your favorite game?                                                                  0.0
What genres of video games do you play? (Check all that apply)                                 0.0
  Which device do you play games on the most?(Check all that apply)                            0.0
  How many hours do you typically spend gaming in a week?                                      0.0
  How often do you play video games?                                                           0.0
Location                                                                                       0.0
Gender                                                                                         0.0
 How much do you spend on gaming monthly (including in-game purchases, new games, etc.)?       0.0
dtype: float64

In [8]:
# 8. Eliminamos espacios antes y después de cada nombre de las columnas para poder procesarlos
df.columns = df.columns.str.strip()
print(df.columns)

Index(['Timestamp', 'Age', 'Gender', 'Location',
       'How often do you play video games?',
       'How many hours do you typically spend gaming in a week?',
       'Which device do you play games on the most?(Check all that apply)',
       'What genres of video games do you play? (Check all that apply)',
       'What is your favorite game?',
       'How do you discover new games? (Check all that apply)',
       'Do you prefer single-player or multiplayer games?',
       'How much do you spend on gaming monthly (including in-game purchases, new games, etc.)?',
       'Why do you play video games? (Check all that apply)',
       'How often do you play video games?',
       'How many hours do you typically spend gaming in a week?',
       'Which device do you play games on the most?(Check all that apply)',
       'What genres of video games do you play? (Check all that apply)',
       'What is your favorite game?',
       'How do you discover new games? (Check all that apply)',
       'Do you prefer single-player or multiplayer games?',
       'How much do you spend on gaming monthly (including in-game purchases, new games, etc.)?',
       'Why do you play video games? (Check all that apply)'],
      dtype='object')

In [9]:
# 9. Vemos que hay columnas repetidas. Esto puede ser debido a que, al haber sido rellenado con un formulario, cada jugador eligió uno o dos juegos para la encuesta.
# Renombramos las columnas repetidas, para que sea mas eficiente a la hora de analizar los datos.
nombres_cortos = {
    'Timestamp': 'timestamp',
    'Age': 'age',
    'Gender': 'gender',
    'Location': 'location',
    'How often do you play video games?': 'frequency',
    'How many hours do you typically spend gaming in a week?': 'hours_per_week',
    'Which device do you play games on the most?(Check all that apply)': 'device',
    'What genres of video games do you play? (Check all that apply)': 'genres',
    'What is your favorite game?': 'favorite_game',
    'How do you discover new games? (Check all that apply)': 'discovery',
    'Why do you play video games? (Check all that apply)': 'motivation',
    'Do you prefer single-player or multiplayer games?': 'game_mode',
    'How much do you spend on gaming monthly (including in-game purchases, new games, etc.)?': 'monthly_spend'
}

df.rename(columns=nombres_cortos, inplace=True)

df.head()

,timestamp,age,gender,location,frequency,hours_per_week,device,genres,favorite_game,discovery,...,motivation,frequency,hours_per_week,device,genres,favorite_game,discovery,game_mode,monthly_spend,motivation
0,2024-10-24 13:09:27.109,18,Male,Bangalore,Daily,10-20 hours,Mobile,Sports,FC MOBILE,"Social Media, Gaming Forums",...,"For fun/entertainment, To relieve stress",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-10-24 13:09:34.343,19,Male,"Hell road , Bangalore",Rarely/Never,0,Mobile,"Puzzle/Strategy, Simulation (e.g., The Sims)",Wukong,Social Media,...,To improve skills/competition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-10-24 13:23:13.403,19,Male,Bangalore,Rarely/Never,More than 20 hours,"Console (PlayStation, Xbox, etc.)",First-Person Shooter (FPS),Call of duty,Gaming Forums,...,For fun/entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-10-24 13:30:42.445,18,Female,Banglore,Rarely/Never,Less than 5 hours,Mobile,Puzzle/Strategy,Subway,Social Media,...,For fun/entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-10-24 13:32:26.815,18,Female,"Banglore, Karnataka",Daily,Less than 5 hours,"PC, Mobile","Action/Adventure, First-Person Shooter (FPS), ...",Solo leveling arise,Friends/Family Recommendations,...,"For fun/entertainment, To relieve stress, To s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# 10. Hacemos copia del df original para manipular los datos y poder volver atrás si nos equivocamos
df_copia = df.copy()

In [11]:
# 11. Función para recombrar columnas repetidas con sufijos
def renombrar_repetidas_con_sufijos(df, mantener_sin_sufijo=None):
    if mantener_sin_sufijo is None:
        mantener_sin_sufijo = []

    nombre_counts = {}
    nuevos_nombres = []

    for col in df.columns:
        if col in mantener_sin_sufijo:
            nuevos_nombres.append(col)
        else:
            if col not in nombre_counts:
                nombre_counts[col] = 1
                nuevos_nombres.append(f"{col}_1")
            else:
                nombre_counts[col] += 1
                nuevos_nombres.append(f"{col}_{nombre_counts[col]}")

    df.columns = nuevos_nombres
    return df

In [12]:
# 11. Sobre la copia del df original, renombramos las columnas duplicadas para diferenciar entre "Juego 1" y "Juego 2"
# Columnas que NO queremos que lleven número
fijas = ['timestamp', 'age', 'gender', 'location']

# Aplicar renombrado
df_copia = renombrar_repetidas_con_sufijos(df_copia, mantener_sin_sufijo=fijas)

print(df_copia.columns.tolist())

['timestamp', 'age', 'gender', 'location', 'frequency_1', 'hours_per_week_1', 'device_1', 'genres_1', 'favorite_game_1', 'discovery_1', 'game_mode_1', 'monthly_spend_1', 'motivation_1', 'frequency_2', 'hours_per_week_2', 'device_2', 'genres_2', 'favorite_game_2', 'discovery_2', 'game_mode_2', 'monthly_spend_2', 'motivation_2']

In [13]:
# 12. La columna timestamp es irrelevante para nuestro análisis, ya que no es importante en qué fecha se rellenó cada encuesta, así que la eliminamos
df_copia.drop(columns=['timestamp'], inplace=True)

# Resetear índice y eliminar el anterior
df_copia.reset_index(drop=True, inplace=True)

# Confirmar
df_copia.head()

,age,gender,location,frequency_1,hours_per_week_1,device_1,genres_1,favorite_game_1,discovery_1,game_mode_1,...,motivation_1,frequency_2,hours_per_week_2,device_2,genres_2,favorite_game_2,discovery_2,game_mode_2,monthly_spend_2,motivation_2
0,18,Male,Bangalore,Daily,10-20 hours,Mobile,Sports,FC MOBILE,"Social Media, Gaming Forums",Both,...,"For fun/entertainment, To relieve stress",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19,Male,"Hell road , Bangalore",Rarely/Never,0,Mobile,"Puzzle/Strategy, Simulation (e.g., The Sims)",Wukong,Social Media,Single-player,...,To improve skills/competition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19,Male,Bangalore,Rarely/Never,More than 20 hours,"Console (PlayStation, Xbox, etc.)",First-Person Shooter (FPS),Call of duty,Gaming Forums,Multiplayer,...,For fun/entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18,Female,Banglore,Rarely/Never,Less than 5 hours,Mobile,Puzzle/Strategy,Subway,Social Media,Both,...,For fun/entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18,Female,"Banglore, Karnataka",Daily,Less than 5 hours,"PC, Mobile","Action/Adventure, First-Person Shooter (FPS), ...",Solo leveling arise,Friends/Family Recommendations,Multiplayer,...,"For fun/entertainment, To relieve stress, To s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# 13. Vamos a limpiar los datos de "age" para que todos tengan el mismo formato
df_copia['gender'].unique()

array(['Male', 'Female', 'male'], dtype=object)

In [15]:
# El valor 'male' está en minúscula, así que vamos a unificarlo
df_copia['gender'] = df_copia['gender'].str.strip().str.lower().str.capitalize()
df_copia['gender'].value_counts()

gender
Female    268
Male      232
Name: count, dtype: int64

In [16]:
# 14. Ahora vamos a limpiar los datos de "location" para que todos tengan el mismo formato
df_copia['location'].unique()

array(['Bangalore', 'Hell road , Bangalore ', 'Banglore',
       'Banglore, Karnataka ', 'Bangalore ', 'Jain University ',
       'bangalore', 'Harohalli',
       'Nayapalli n4/8 near balaram medecine store bhubaneswar,odisha,India',
       'Odisha,Bhubaneswar ', 'Karnataka ', 'Andhra Pradesh', 'banglore',
       'Bhubaneswar, odisha ', 'Banglore ', 'karnataka', 'Karnataka',
       'Hell road , Bangalore', 'Banglore, Karnataka', 'Jain University',
       'bhubaneswar,odisha,India', 'Odisha,Bhubaneswar',
       'Bhubaneswar, odisha', 'Chennai', 'Kolkata', 'Pune', 'Hyderabad',
       'Mumbai', 'Ahmedabad', 'Delhi', 'Florida', 'London', 'Ohio',
       'Texas', 'New York', 'Toronto', 'California'], dtype=object)

In [17]:
correcciones_location = {
    'Banglore': 'Bangalore',
    'Banglore ': 'Bangalore',
    'banglore': 'Bangalore',
    'Banglore, Karnataka': 'Bangalore',
    'Banglore, Karnataka ': 'Bangalore',
    'Bangalore ': 'Bangalore',
    'bangalore': 'Bangalore',
    'Hell road , Bangalore': 'Bangalore',
    'Hell road , Bangalore ': 'Bangalore',

    'Karnataka ': 'Karnataka',
    'karnataka': 'Karnataka',

    'Bhubaneswar, odisha': 'Bhubaneswar',
    'bhubaneswar,odisha,India': 'Bhubaneswar',
    'Bhubaneswar, odisha ': 'Bhubaneswar',
    'Odisha,Bhubaneswar': 'Bhubaneswar',
    'Odisha,Bhubaneswar ': 'Bhubaneswar',
    'Nayapalli n4/8 near balaram medecine store bhubaneswar,odisha,India': 'Bhubaneswar',

    'Jain University ': 'Jain University',

    'Harohalli': 'Harohalli',
    'Andhra Pradesh': 'Andhra Pradesh',
    'Chennai': 'Chennai',
    'Kolkata': 'Kolkata',
    'Pune': 'Pune',
    'Hyderabad': 'Hyderabad',
    'Mumbai': 'Mumbai',
    'Ahmedabad': 'Ahmedabad',
    'Delhi': 'Delhi',
    'Florida': 'Florida',
    'London': 'London',
    'Ohio': 'Ohio',
    'Texas': 'Texas',
    'New York': 'New York',
    'Toronto': 'Toronto',
    'California': 'California'
}

df_copia['location'] = df_copia['location'].str.strip()  # eliminar espacios
df_copia['location'] = df_copia['location'].replace(correcciones_location)

In [18]:
print(df_copia['location'].value_counts())

location
Bangalore          89
Mumbai             50
Delhi              48
New York           36
London             32
Ohio               32
Florida            30
Toronto            25
Texas              25
Pune               20
Hyderabad          20
Kolkata            19
Chennai            18
California         17
Ahmedabad          13
Bhubaneswar         9
Karnataka           8
Jain University     3
Andhra Pradesh      3
Harohalli           3
Name: count, dtype: int64

In [19]:
# 15. Vamos a limpiar los datos de "frequency_1" y "frequency_2" para que todos tengan el mismo formato
df_copia['frequency_1'].unique()

array(['Daily', 'Rarely/Never', 'A few times in a week',
       'A few times in a month', 'A few times a week'], dtype=object)

In [20]:
# Vemos que 'A few times in a week' y 'A few times a week' deberían ser lo mismo, pero están escritos de forma distinta.
correcciones_frequency = {
    'A few times in a week': 'A few times a week'
}

# Limpiar espacios y aplicar corrección
df_copia['frequency_1'] = df_copia['frequency_1'].str.strip()
df_copia['frequency_1'] = df_copia['frequency_1'].replace(correcciones_frequency)

df_copia['frequency_1'].value_counts()

frequency_1
Daily                     209
A few times a week        150
Rarely/Never              121
A few times in a month     20
Name: count, dtype: int64

In [21]:
# Hacemos lo mismo con 'frequency_2' y vemos que, en este caso, los valores son diferentes
df_copia['frequency_2'].value_counts()

frequency_2
Daily           107
Rarely/Never     98
Weekly           95
Name: count, dtype: int64

In [22]:
# Unificamos los valores para que sean consistentes
correcciones_frequency = {
    'A few times a week': 'Weekly',
    'A few times in a month': 'Monthly'
}

df_copia['frequency_1'] = df_copia['frequency_1'].replace(correcciones_frequency)
df_copia['frequency_1'].value_counts()

frequency_1
Daily           209
Weekly          150
Rarely/Never    121
Monthly          20
Name: count, dtype: int64

In [23]:
# 16. Hacemos lo mismo con los datos de "hours_per_week_1" y "hours_per_week_2" para que todos tengan el mismo formato
print(df_copia['hours_per_week_1'].unique())
print(df_copia['hours_per_week_2'].unique())

['10-20 hours' 0 'More than 20 hours' 'Less than 5 hours' '30mins'
 '5-10 hours']
[nan '5-10 hours' 'Less than 5 hours' '10-20 hours' 'More than 20 hours']

In [24]:
correcciones_horas = {
    '30mins': 'Less than 1 hour',
    '0': '0 hours',
    '0.0': '0 hours',
    'None': '0 hours',
    'Less than 5 hours': '1–5 hours',
    '5-10 hours': '5–10 hours',
    '10-20 hours': '10–20 hours'
    # 'More than 20 hours' ya está bien
}

# Limpiar y reemplazar en hours_per_week_1
df_copia['hours_per_week_1'] = df_copia['hours_per_week_1'].astype(str).str.strip()
df_copia['hours_per_week_1'] = df_copia['hours_per_week_1'].replace(correcciones_horas)

# Limpiar y reemplazar en hours_per_week_2
df_copia['hours_per_week_2'] = df_copia['hours_per_week_2'].astype(str).str.strip()
df_copia['hours_per_week_2'] = df_copia['hours_per_week_2'].replace(correcciones_horas)

print(df_copia['hours_per_week_1'].value_counts())
print(df_copia['hours_per_week_2'].value_counts())

hours_per_week_1
5–10 hours            161
10–20 hours           135
1–5 hours             112
More than 20 hours     80
0 hours                 6
Less than 1 hour        6
Name: count, dtype: int64
hours_per_week_2
nan                   200
1–5 hours              80
More than 20 hours     78
10–20 hours            72
5–10 hours             70
Name: count, dtype: int64

In [25]:
# 17. Vamos ahora con los datos de "device_1" y "device_2"
print(df_copia['device_1'].unique())
print(df_copia['device_2'].unique())

['Mobile' 'Console (PlayStation, Xbox, etc.)' 'PC, Mobile'
 'Console (PlayStation, Xbox, etc.), Mobile'
 'Console (PlayStation, Xbox, etc.), Handheld devices (Nintendo Switch, etc.)'
 'PC' 'PC, Console (PlayStation, Xbox, etc.), Mobile' 'Console, Mobile'
 'Tablet' 'PC, Console']
[nan 'PC, Console' 'PC, Mobile' 'All' 'Console (PlayStation, Xbox, etc.)'
 'Mobile, Console' 'Mobile' 'PC']

In [26]:
# Creo una copia de seguridad por si acaso
df_copia_3 = df_copia.copy()

In [27]:
# Creamos una función para unificar los valores y limpiarlos
def limpiar_dispositivos_orden_personalizado(col):
    orden = ['PC', 'Console', 'Mobile']
    mapa_final = {'pc': 'PC', 'console': 'Console', 'mobile': 'Mobile'}

    def procesar(x):
        if pd.isna(x):
            return None
        x = str(x).lower()
        x = x.replace('console (playstation, xbox, etc.)', 'console')
        x = x.replace('handheld devices (nintendo switch, etc.)', 'console')
        x = x.replace('tablet', 'mobile')
        x = x.replace('all', 'pc, mobile, console')
        dispositivos_raw = [d.strip() for d in x.replace(', ', ',').replace(' ,', ',').split(',')]
        dispositivos = [mapa_final.get(d, d.capitalize()) for d in dispositivos_raw]
        dispositivos = list(set(dispositivos))  # eliminar duplicados
        dispositivos_ordenados = [d for d in orden if d in dispositivos]
        return ', '.join(dispositivos_ordenados)

    return col.apply(procesar)

In [28]:
df_copia_3['device_1'] = limpiar_dispositivos_orden_personalizado(df_copia_3['device_1'])
df_copia_3['device_2'] = limpiar_dispositivos_orden_personalizado(df_copia_3['device_2'])

print(df_copia_3['device_1'].value_counts())
print(df_copia_3['device_2'].value_counts())

device_1
Mobile                 176
PC, Mobile              89
Console                 65
Console, Mobile         65
PC                      51
PC, Console             44
PC, Console, Mobile     10
Name: count, dtype: int64
device_2
Console                47
PC, Mobile             46
PC, Console, Mobile    45
Mobile                 45
PC, Console            43
Console, Mobile        41
PC                     33
Name: count, dtype: int64

In [29]:
# 18. Ahora vamos con "genres"
print(df_copia_3['genres_1'].value_counts())

genres_1
Sports                                                                                                                                                      46
First-Person Shooter (FPS)                                                                                                                                  45
Action/Adventure, Role-Playing Games (RPG)                                                                                                                  42
Action/Adventure, First-Person Shooter (FPS)                                                                                                                40
Puzzle/Strategy                                                                                                                                             23
Action/Adventure, First-Person Shooter (FPS), Role-Playing Games (RPG)                                                                                      23
Action/Adventure, First-Person Shooter (FPS), Role-Playing Games (RPG), MMO (Massively Multiplayer Online)                                                  23
First-Person Shooter (FPS), Role-Playing Games (RPG), Simulation (e.g., The Sims)                                                                           23
Puzzle/Strategy, Simulation (e.g., The Sims)                                                                                                                23
MMO (Massively Multiplayer Online)                                                                                                                          22
Action/Adventure, First-Person Shooter (FPS), Puzzle/Strategy, MMO (Massively Multiplayer Online)                                                           22
Action/Adventure, Role-Playing Games (RPG), MMO (Massively Multiplayer Online)                                                                              22
Action/Adventure, First-Person Shooter (FPS), Puzzle/Strategy                                                                                               22
Action/Adventure, Sports, MMO (Massively Multiplayer Online)                                                                                                22
Action/Adventure, MMO (Massively Multiplayer Online)                                                                                                        22
Action/Adventure, Sports                                                                                                                                    20
Action/Adventure, Puzzle/Strategy, Simulation (e.g., The Sims)                                                                                              20
First-Person Shooter (FPS), Sports                                                                                                                          20
Action/Adventure, First-Person Shooter (FPS), Role-Playing Games (RPG), Puzzle/Strategy, Simulation (e.g., The Sims), MMO (Massively Multiplayer Online)    20
Name: count, dtype: int64

In [30]:
print(df_copia_3['genres_2'].value_counts())

genres_2
Simulation                    42
Action/Adventure              42
Puzzle/Strategy               41
First-Person Shooter (FPS)    40
Role-playing                  36
Horror                        35
Sports                        34
Casual                        30
Name: count, dtype: int64

In [31]:
# Vemos que hay muchos géneros diferentes asi que vamos a agruparlos y limpiarlos
mapa_generos = {
    'first-person shooter (fps)': 'First-Person Shooter',
    'fps': 'First-Person Shooter',
    'action/adventure': 'Action-Adventure',
    'action adventure': 'Action-Adventure',
    'puzzle/strategy': 'Puzzle-Strategy',
    'simulation (e.g., the sims)': 'Simulation',
    'simulation': 'Simulation',
    'sports': 'Sports',
    'mmo (massively multiplayer online)': 'MMO',
    'role-playing games (rpg)': 'Role-Playing',
    'role-playing': 'Role-Playing',
    'rpg': 'Role-Playing',
    'casual': 'Casual',
    'horror': 'Horror',
    # en caso de que alguien haya escrito todo junto
    'action/adventure, sports': 'Action-Adventure, Sports'
}

In [32]:
# Creamos copia de seguridad por si acaso
df_copia_5 = df_copia_3.copy()

In [33]:
# Función de limpieza
def limpiar_generos(col):
    def procesar(x):
        if pd.isna(x):
            return None
        x = str(x).lower()
        generos_raw = [g.strip() for g in x.replace(', ', ',').replace(' ,', ',').split(',')]
        generos_norm = [mapa_generos.get(g, g.title()) for g in generos_raw]
        generos_unicos = sorted(set(generos_norm))
        return ', '.join(generos_unicos)
    
    return col.apply(procesar)

df_copia_5['genres_1'] = limpiar_generos(df_copia_5['genres_1'])
df_copia_5['genres_2'] = limpiar_generos(df_copia_5['genres_2'])


print(df_copia_5['genres_1'].value_counts())
print(df_copia_5['genres_2'].value_counts())

genres_1
Sports                                                                                                     46
First-Person Shooter                                                                                       45
Action-Adventure, Role-Playing                                                                             42
Action-Adventure, First-Person Shooter                                                                     40
Puzzle-Strategy                                                                                            23
Action-Adventure, First-Person Shooter, Role-Playing                                                       23
Action-Adventure, First-Person Shooter, MMO, Role-Playing                                                  23
First-Person Shooter, Role-Playing, Simulation (E.G., The Sims)                                            23
Puzzle-Strategy, Simulation (E.G., The Sims)                                                               23
MMO                                                                                                        22
Action-Adventure, First-Person Shooter, MMO, Puzzle-Strategy                                               22
Action-Adventure, MMO, Role-Playing                                                                        22
Action-Adventure, First-Person Shooter, Puzzle-Strategy                                                    22
Action-Adventure, MMO, Sports                                                                              22
Action-Adventure, MMO                                                                                      22
Action-Adventure, Sports                                                                                   20
Action-Adventure, Puzzle-Strategy, Simulation (E.G., The Sims)                                             20
First-Person Shooter, Sports                                                                               20
Action-Adventure, First-Person Shooter, MMO, Puzzle-Strategy, Role-Playing, Simulation (E.G., The Sims)    20
Name: count, dtype: int64
genres_2
Simulation              42
Action-Adventure        42
Puzzle-Strategy         41
First-Person Shooter    40
Role-Playing            36
Horror                  35
Sports                  34
Casual                  30
Name: count, dtype: int64

In [34]:
# 19. Vamos a limpiar ahora las columnas "favorite_game_1" y "favorite_game_2"
print(df_copia_5['favorite_game_1'].value_counts(dropna=False))
print(df_copia_5['favorite_game_2'].value_counts(dropna=False))

favorite_game_1
FC MOBILE                    23
Call of duty                 23
Subway                       23
Solo leveling arise          23
Efootball                    23
Call of duty                 23
call of duty                 23
Wukong                       23
Rhythm Rush lite             22
Wuthering waves              22
CALL OF DUTY                 22
Solo Levelling               22
Wuther waves                 22
Free fire,wuthering waves    22
Moba Legends                 22
BGMI                         22
Red dead redemption 2        20
Chess and clash of clans     20
God of war ragnarok          20
fornite                      20
bgmi,coc,chess               20
efootball                    20
Many                         20
Name: count, dtype: int64
favorite_game_2
NaN                  200
FIFA 2024             42
Call of Duty          39
Overwatch             35
League of Legends     31
Minecraft             29
Genshin Impact        27
Apex Legends          27
Fortnite              26
Among Us              22
Valorant              22
Name: count, dtype: int64

In [35]:
mapa_juegos = {
    'Call Of Duty': 'Call Of Duty',
    'CALL OF DUTY': 'Call Of Duty',
    'call of duty': 'Call Of Duty',

    'Fornite': 'Fortnite',
    'Fortnite': 'Fortnite',

    'efootball': 'Efootball',
    'Efootball': 'Efootball',

    'FC MOBILE': 'FC Mobile',
    'Fc Mobile': 'FC Mobile',

    'Solo leveling arise': 'Solo Leveling',
    'Solo Levelling': 'Solo Leveling',

    'Wuthering waves': 'Wuthering Waves',
    'Wuther Waves': 'Wuthering Waves',

    'Rhythm Rush lite': 'Rhythm Rush Lite',
    'Wukong': 'Wukong',
    'Subway': 'Subway',
    'Many': 'Many',
    'BGMI': 'BGMI',
    'bgmi,coc,chess': 'BGMI, COC, Chess',
    'Moba Legends': 'MOBA Legends',
    'Red dead redemption 2': 'Red Dead Redemption 2',
    'God of war ragnarok': 'God Of War Ragnarok',
    'Chess and clash of clans': 'Chess And Clash Of Clans',
    'Free fire,wuthering waves': 'Free Fire, Wuthering Waves',

    # Juegos del favorite_game_2
    'FIFA 2024': 'FIFA',
    'Call of Duty': 'Call Of Duty',
    'Overwatch': 'Overwatch',
    'League of Legends': 'League Of Legends',
    'Minecraft': 'Minecraft',
    'Genshin Impact': 'Genshin Impact',
    'Apex Legends': 'Apex Legends',
    'Among Us': 'Among Us',
    'Valorant': 'Valorant'
}

In [36]:
# Hacemos copia de seguridad por si acaso
df_copia_6 = df_copia_5.copy()

In [37]:
# Función de limpieza
def limpiar_favorite_game(col):
    return col.str.strip().str.title().replace(mapa_juegos)

In [38]:
df_copia_6['favorite_game_1'] = limpiar_favorite_game(df_copia_6['favorite_game_1'])
df_copia_6['favorite_game_2'] = limpiar_favorite_game(df_copia_6['favorite_game_2'])

print(df_copia_6['favorite_game_1'].value_counts())
print(df_copia_6['favorite_game_2'].value_counts())

favorite_game_1
Call Of Duty                 91
Wuthering Waves              44
Efootball                    43
Wukong                       23
FC Mobile                    23
Solo Leveling Arise          23
Subway                       23
Bgmi                         22
MOBA Legends                 22
Free Fire,Wuthering Waves    22
Rhythm Rush Lite             22
Solo Leveling                22
Red Dead Redemption 2        20
Chess And Clash Of Clans     20
God Of War Ragnarok          20
Fortnite                     20
Bgmi,Coc,Chess               20
Many                         20
Name: count, dtype: int64
favorite_game_2
Fifa 2024            42
Call Of Duty         39
Overwatch            35
League Of Legends    31
Minecraft            29
Genshin Impact       27
Apex Legends         27
Fortnite             26
Among Us             22
Valorant             22
Name: count, dtype: int64

In [39]:
# 20. Vamos a limpiar ahora las columnas "discovery_1" y "discovery_2"
print(df_copia_6['discovery_1'].unique())

['Social Media, Gaming Forums' 'Social Media' 'Gaming Forums'
 'Friends/Family Recommendations'
 'Social Media, Gaming Forums, Game Reviews/Blogs, YouTube/Streaming platforms (Twitch, etc.)'
 'Gaming Forums, YouTube/Streaming platforms (Twitch, etc.)'
 'Social Media, Friends/Family Recommendations'
 'Gaming Forums, Game Reviews/Blogs'
 'Social Media, Gaming Forums, Friends/Family Recommendations, Game Reviews/Blogs, YouTube/Streaming platforms (Twitch, etc.)'
 'I search myself from playstore '
 'Friends/Family Recommendations, YouTube/Streaming platforms (Twitch, etc.)'
 'YouTube/Streaming platforms (Twitch, etc.)'
 'Social Media, Gaming Forums, Game Reviews/Blogs, YouTube/Streaming platforms (Twitch, etc.), my own ways!!!']

In [40]:
print(df_copia_6['discovery_2'].unique())

[nan 'Friends/Family Recommendations' 'Gaming Forums' 'Social Media'
 'YouTube' 'Twitch']

In [41]:
# Hacemos copia de seguridad por si acaso
df_copia_8 = df_copia_6.copy()

In [42]:
# Creamos un nuevo df con la info de discovery 1 y discovery 2 para luego poder analizar esos datos y trabajar mejor sobre ellos
# 1. Obtener todas las categorías únicas de discovery_1 y discovery_2
# Las combinamos para evitar duplicados entre columnas
respuestas_1 = df_copia_8['discovery_1'].dropna().str.split(',').explode().str.strip()
respuestas_2 = df_copia_8['discovery_2'].dropna().str.split(',').explode().str.strip()

categorias_discovery = sorted(set(respuestas_1).union(set(respuestas_2)))
categorias_discovery

['Friends/Family Recommendations',
 'Game Reviews/Blogs',
 'Gaming Forums',
 'I search myself from playstore',
 'Social Media',
 'Twitch',
 'YouTube',
 'YouTube/Streaming platforms (Twitch',
 'etc.)',
 'my own ways!!!']

In [43]:
# 2. Crear columnas binarias para discovery_1 y discovery_2
df_discovery = pd.DataFrame(index=df_copia_8.index)

for cat in categorias_discovery:
    df_discovery[f'discovery1_{cat}'] = df_copia_8['discovery_1'].fillna('').apply(lambda x: int(cat in x))
    df_discovery[f'discovery2_{cat}'] = df_copia_8['discovery_2'].fillna('').apply(lambda x: int(cat in x))

# Eliminamos las columnas y las filas que solo tienen ceros
df_discovery = df_discovery.loc[:, (df_discovery != 0).any(axis=0)]
df_discovery = df_discovery.loc[df_discovery.sum(axis=1) > 0]
df_discovery.head()

,discovery1_Friends/Family Recommendations,discovery2_Friends/Family Recommendations,discovery1_Game Reviews/Blogs,discovery1_Gaming Forums,discovery2_Gaming Forums,discovery1_I search myself from playstore,discovery1_Social Media,discovery2_Social Media,discovery1_Twitch,discovery2_Twitch,discovery1_YouTube,discovery2_YouTube,discovery1_YouTube/Streaming platforms (Twitch,discovery1_etc.),discovery1_my own ways!!!
0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [44]:
df_discovery.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   discovery1_Friends/Family Recommendations       500 non-null    int64
 1   discovery2_Friends/Family Recommendations       500 non-null    int64
 2   discovery1_Game Reviews/Blogs                   500 non-null    int64
 3   discovery1_Gaming Forums                        500 non-null    int64
 4   discovery2_Gaming Forums                        500 non-null    int64
 5   discovery1_I search myself from playstore       500 non-null    int64
 6   discovery1_Social Media                         500 non-null    int64
 7   discovery2_Social Media                         500 non-null    int64
 8   discovery1_Twitch                               500 non-null    int64
 9   discovery2_Twitch                               500 non-null    int64
 10  discovery1_YouTube                              500 non-null    int64
 11  discovery2_YouTube                              500 non-null    int64
 12  discovery1_YouTube/Streaming platforms (Twitch  500 non-null    int64
 13  discovery1_etc.)                                500 non-null    int64
 14  discovery1_my own ways!!!                       500 non-null    int64
dtypes: int64(15)
memory usage: 62.5 KB

In [45]:
df_discovery['discovery1_Recommendations'] = df_discovery.get('discovery1_Friends/Family Recommendations', 0)
df_discovery['discovery2_Recommendations'] = df_discovery.get('discovery2_Friends/Family Recommendations', 0)

df_discovery['discovery1_ReviewsBlogs'] = df_discovery.get('discovery1_Game Reviews/Blogs', 0)
df_discovery['discovery2_ReviewsBlogs'] = df_discovery.get('discovery2_Game Reviews/Blogs', 0)

df_discovery['discovery1_Other'] = (
    df_discovery.get('discovery1_I search myself from playstore', 0) |
    df_discovery.get('discovery1_my own ways!!!', 0)
)

cols_to_drop = [
    'discovery1_Friends/Family Recommendations', 'discovery2_Friends/Family Recommendations',
    'discovery1_Game Reviews/Blogs', 'discovery2_Game Reviews/Blogs',
    'discovery1_I search myself from playstore', 'discovery1_my own ways!!!'
]

df_discovery['discovery1_YouTube'] = (
    df_discovery.get('discovery1_YouTube', 0) |
    df_discovery.get('discovery1_YouTube/Streaming platforms (Twitch', 0) |
    df_discovery.get('discovery1_etc.)', 0)
)

df_discovery.drop(columns=[
    'discovery1_YouTube/Streaming platforms (Twitch',
    'discovery1_etc.)'
], inplace=True, errors='ignore')

df_discovery.drop(columns=cols_to_drop, inplace=True, errors='ignore')
df_discovery.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   discovery1_Gaming Forums    500 non-null    int64
 1   discovery2_Gaming Forums    500 non-null    int64
 2   discovery1_Social Media     500 non-null    int64
 3   discovery2_Social Media     500 non-null    int64
 4   discovery1_Twitch           500 non-null    int64
 5   discovery2_Twitch           500 non-null    int64
 6   discovery1_YouTube          500 non-null    int64
 7   discovery2_YouTube          500 non-null    int64
 8   discovery1_Recommendations  500 non-null    int64
 9   discovery2_Recommendations  500 non-null    int64
 10  discovery1_ReviewsBlogs     500 non-null    int64
 11  discovery2_ReviewsBlogs     500 non-null    int64
 12  discovery1_Other            500 non-null    int64
dtypes: int64(13)
memory usage: 54.7 KB

In [46]:
df_discovery.head()

,discovery1_Gaming Forums,discovery2_Gaming Forums,discovery1_Social Media,discovery2_Social Media,discovery1_Twitch,discovery2_Twitch,discovery1_YouTube,discovery2_YouTube,discovery1_Recommendations,discovery2_Recommendations,discovery1_ReviewsBlogs,discovery2_ReviewsBlogs,discovery1_Other
0,1,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0,0

In [47]:
# Creamos un df también para géneros, ya que nos vendrá bien para el análisis
# 1. Obtener géneros únicos
respuestas_g1 = df_copia_8['genres_1'].dropna().str.split(',').explode().str.strip()
respuestas_g2 = df_copia_8['genres_2'].dropna().str.split(',').explode().str.strip()

categorias_generos = sorted(set(respuestas_g1).union(set(respuestas_g2)))

# 2. Crear columnas binarias
df_genres = pd.DataFrame(index=df_copia_8.index)

for cat in categorias_generos:
    df_genres[f'genre1_{cat}'] = df_copia_8['genres_1'].fillna('').apply(lambda x: int(cat in x))
    df_genres[f'genre2_{cat}'] = df_copia_8['genres_2'].fillna('').apply(lambda x: int(cat in x))

# 3. Eliminar columnas sin datos (solo ceros)
df_genres = df_genres.loc[:, (df_genres != 0).any(axis=0)]

# 4. Eliminar filas vacías
df_genres = df_genres.loc[df_genres.sum(axis=1) > 0]

df_genres.head()

,genre1_Action-Adventure,genre2_Action-Adventure,genre2_Casual,genre1_First-Person Shooter,genre2_First-Person Shooter,genre2_Horror,genre1_MMO,genre1_Puzzle-Strategy,genre2_Puzzle-Strategy,genre1_Role-Playing,genre2_Role-Playing,genre1_Simulation,genre2_Simulation,genre1_Simulation (E.G.,genre1_Sports,genre2_Sports,genre1_The Sims)
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,1
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0

In [48]:
df_genres.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   genre1_Action-Adventure      500 non-null    int64
 1   genre2_Action-Adventure      500 non-null    int64
 2   genre2_Casual                500 non-null    int64
 3   genre1_First-Person Shooter  500 non-null    int64
 4   genre2_First-Person Shooter  500 non-null    int64
 5   genre2_Horror                500 non-null    int64
 6   genre1_MMO                   500 non-null    int64
 7   genre1_Puzzle-Strategy       500 non-null    int64
 8   genre2_Puzzle-Strategy       500 non-null    int64
 9   genre1_Role-Playing          500 non-null    int64
 10  genre2_Role-Playing          500 non-null    int64
 11  genre1_Simulation            500 non-null    int64
 12  genre2_Simulation            500 non-null    int64
 13  genre1_Simulation (E.G.      500 non-null    int64
 14  genre1_Sports                500 non-null    int64
 15  genre2_Sports                500 non-null    int64
 16  genre1_The Sims)             500 non-null    int64
dtypes: int64(17)
memory usage: 70.3 KB

In [49]:
# Eliminamos columnas innecesarias y agrupamos
df_genres['genre1_Simulation'] = (
    df_genres.get('genre1_Simulation', 0) |
    df_genres.get('genre1_Simulation (E.G.', 0) |
    df_genres.get('genre1_The Sims)', 0)
)

df_genres['genre2_Simulation'] = (
    df_genres.get('genre2_Simulation', 0)
)

cols_to_drop = [
    'genre1_Simulation (E.G.',
    'genre1_The Sims)',
]

df_genres.drop(columns=cols_to_drop, inplace=True)
df_genres.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   genre1_Action-Adventure      500 non-null    int64
 1   genre2_Action-Adventure      500 non-null    int64
 2   genre2_Casual                500 non-null    int64
 3   genre1_First-Person Shooter  500 non-null    int64
 4   genre2_First-Person Shooter  500 non-null    int64
 5   genre2_Horror                500 non-null    int64
 6   genre1_MMO                   500 non-null    int64
 7   genre1_Puzzle-Strategy       500 non-null    int64
 8   genre2_Puzzle-Strategy       500 non-null    int64
 9   genre1_Role-Playing          500 non-null    int64
 10  genre2_Role-Playing          500 non-null    int64
 11  genre1_Simulation            500 non-null    int64
 12  genre2_Simulation            500 non-null    int64
 13  genre1_Sports                500 non-null    int64
 14  genre2_Sports                500 non-null    int64
dtypes: int64(15)
memory usage: 62.5 KB

In [50]:
df_genres.head()

,genre1_Action-Adventure,genre2_Action-Adventure,genre2_Casual,genre1_First-Person Shooter,genre2_First-Person Shooter,genre2_Horror,genre1_MMO,genre1_Puzzle-Strategy,genre2_Puzzle-Strategy,genre1_Role-Playing,genre2_Role-Playing,genre1_Simulation,genre2_Simulation,genre1_Sports,genre2_Sports
0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0

In [51]:
# Extraemos nombres únicos de los juegos
respuestas_g1 = df_copia_8['favorite_game_1'].dropna().str.split(',').explode().str.strip().unique()
respuestas_g2 = df_copia_8['favorite_game_2'].dropna().str.split(',').explode().str.strip().unique()
juegos_unicos = sorted(set(respuestas_g1).union(respuestas_g2))

# Creamos df con "favorite game 1" y "favorite game 2" para poder analizarlo bien luego
df_fav_games = pd.DataFrame(index=df_copia_8.index)

for juego in juegos_unicos:
    df_fav_games[f'favorite_game1_{juego}'] = df_copia_8['favorite_game_1'].fillna('').apply(lambda x: int(juego in x))
    df_fav_games[f'favorite_game2_{juego}'] = df_copia_8['favorite_game_2'].fillna('').apply(lambda x: int(juego in x))

# Eliminar columnas vacías
df_fav_games = df_fav_games.loc[:, (df_fav_games != 0).any(axis=0)]

# Eliminar filas vacías
df_fav_games = df_fav_games.loc[df_fav_games.sum(axis=1) > 0]

df_fav_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 29 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   favorite_game2_Among Us                  500 non-null    int64
 1   favorite_game2_Apex Legends              500 non-null    int64
 2   favorite_game1_Bgmi                      500 non-null    int64
 3   favorite_game1_Call Of Duty              500 non-null    int64
 4   favorite_game2_Call Of Duty              500 non-null    int64
 5   favorite_game1_Chess                     500 non-null    int64
 6   favorite_game1_Chess And Clash Of Clans  500 non-null    int64
 7   favorite_game1_Coc                       500 non-null    int64
 8   favorite_game1_Efootball                 500 non-null    int64
 9   favorite_game1_FC Mobile                 500 non-null    int64
 10  favorite_game2_Fifa 2024                 500 non-null    int64
 11  favorite_game1_Fortnite                  500 non-null    int64
 12  favorite_game2_Fortnite                  500 non-null    int64
 13  favorite_game1_Free Fire                 500 non-null    int64
 14  favorite_game2_Genshin Impact            500 non-null    int64
 15  favorite_game1_God Of War Ragnarok       500 non-null    int64
 16  favorite_game2_League Of Legends         500 non-null    int64
 17  favorite_game1_MOBA Legends              500 non-null    int64
 18  favorite_game1_Many                      500 non-null    int64
 19  favorite_game2_Minecraft                 500 non-null    int64
 20  favorite_game2_Overwatch                 500 non-null    int64
 21  favorite_game1_Red Dead Redemption 2     500 non-null    int64
 22  favorite_game1_Rhythm Rush Lite          500 non-null    int64
 23  favorite_game1_Solo Leveling             500 non-null    int64
 24  favorite_game1_Solo Leveling Arise       500 non-null    int64
 25  favorite_game1_Subway                    500 non-null    int64
 26  favorite_game2_Valorant                  500 non-null    int64
 27  favorite_game1_Wukong                    500 non-null    int64
 28  favorite_game1_Wuthering Waves           500 non-null    int64
dtypes: int64(29)
memory usage: 117.2 KB

In [52]:
# Reagrupamos y eliminamos columnas innecesarias
# 1. Unificar Chess
df_fav_games['favorite_game1_Chess'] = (
    df_fav_games.get('favorite_game1_Chess', 0) |
    df_fav_games.get('favorite_game1_Chess And Clash Of Clans', 0)
)

# 2. Renombrar Coc a Clash Of Clans
df_fav_games.rename(columns={'favorite_game1_Coc': 'favorite_game1_Clash Of Clans'}, inplace=True)

# 3. Unificar Solo Leveling
df_fav_games['favorite_game1_Solo Leveling'] = (
    df_fav_games.get('favorite_game1_Solo Leveling', 0) |
    df_fav_games.get('favorite_game1_Solo Leveling Arise', 0)
)

# 4. Eliminar columnas antiguas
df_fav_games.drop(columns=[
    'favorite_game1_Chess And Clash Of Clans',
    'favorite_game1_Solo Leveling Arise'
], inplace=True, errors='ignore')

# Ordenamos columnas alfabéticamente
df_fav_games = df_fav_games[sorted(df_fav_games.columns)]

df_fav_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   favorite_game1_Bgmi                   500 non-null    int64
 1   favorite_game1_Call Of Duty           500 non-null    int64
 2   favorite_game1_Chess                  500 non-null    int64
 3   favorite_game1_Clash Of Clans         500 non-null    int64
 4   favorite_game1_Efootball              500 non-null    int64
 5   favorite_game1_FC Mobile              500 non-null    int64
 6   favorite_game1_Fortnite               500 non-null    int64
 7   favorite_game1_Free Fire              500 non-null    int64
 8   favorite_game1_God Of War Ragnarok    500 non-null    int64
 9   favorite_game1_MOBA Legends           500 non-null    int64
 10  favorite_game1_Many                   500 non-null    int64
 11  favorite_game1_Red Dead Redemption 2  500 non-null    int64
 12  favorite_game1_Rhythm Rush Lite       500 non-null    int64
 13  favorite_game1_Solo Leveling          500 non-null    int64
 14  favorite_game1_Subway                 500 non-null    int64
 15  favorite_game1_Wukong                 500 non-null    int64
 16  favorite_game1_Wuthering Waves        500 non-null    int64
 17  favorite_game2_Among Us               500 non-null    int64
 18  favorite_game2_Apex Legends           500 non-null    int64
 19  favorite_game2_Call Of Duty           500 non-null    int64
 20  favorite_game2_Fifa 2024              500 non-null    int64
 21  favorite_game2_Fortnite               500 non-null    int64
 22  favorite_game2_Genshin Impact         500 non-null    int64
 23  favorite_game2_League Of Legends      500 non-null    int64
 24  favorite_game2_Minecraft              500 non-null    int64
 25  favorite_game2_Overwatch              500 non-null    int64
 26  favorite_game2_Valorant               500 non-null    int64
dtypes: int64(27)
memory usage: 109.4 KB

In [53]:
# Vamos a construir ahora un df para device
# 1. Obtener valores únicos de ambos campos
valores1 = df_copia_8['device_1'].dropna().str.split(',').explode().str.strip().unique()
valores2 = df_copia_8['device_2'].dropna().str.split(',').explode().str.strip().unique()
dispositivos = sorted(set(valores1).union(valores2))

# 2. Crear DataFrame binarizado
df_device = pd.DataFrame(index=df_copia_8.index)

for d in dispositivos:
    df_device[f'device1_{d}'] = df_copia_8['device_1'].fillna('').apply(lambda x: int(d in x))
    df_device[f'device2_{d}'] = df_copia_8['device_2'].fillna('').apply(lambda x: int(d in x))

# 3. Eliminar columnas y filas vacías si las hay
df_device = df_device.loc[:, (df_device != 0).any(axis=0)]
df_device = df_device.loc[df_device.sum(axis=1) > 0]

df_device

,device1_Console,device2_Console,device1_Mobile,device2_Mobile,device1_PC,device2_PC
0,0,0,1,0,0,0
1,0,0,1,0,0,0
2,1,0,0,0,0,0
3,0,0,1,0,0,0
4,0,0,1,0,1,0
...,...,...,...,...,...,...
495,0,1,0,1,1,1
496,1,1,0,0,0,0
497,1,1,0,0,0,0
498,0,0,0,1,1,1
499,1,0,0,1,0,0

In [54]:
# Vamos a preparar ahora la columna de motivation
print(df_copia_8['motivation_1'].unique())
print(df_copia_8['motivation_2'].unique())

['For fun/entertainment, To relieve stress'
 'To improve skills/competition' 'For fun/entertainment'
 'For fun/entertainment, To relieve stress, To socialize with friends, To improve skills/competition'
 'To relieve stress'
 'For fun/entertainment, To socialize with friends, To improve skills/competition'
 'For fun/entertainment, To improve skills/competition'
 'If no other better work '
 'For fun/entertainment, To relieve stress, To improve skills/competition'
 "For fun/entertainment, To improve skills/competition, learning how it's designed, etc"
 'If no other better work'
 'To relieve stress, For fun/entertainment, To improve skills/competition'
 'To socialize, To improve skills/competition, For fun/entertainment'
 'To socialize, To relieve stress'
 'To improve skills/competition, For fun/entertainment'
 'To improve skills/competition, To socialize'
 'To relieve stress, To socialize' 'To socialize, For fun/entertainment'
 'To relieve stress, For fun/entertainment, To socialize'
 'To improve skills/competition, For fun/entertainment, To relieve stress'
 'To socialize, To relieve stress, For fun/entertainment'
 'To improve skills/competition, For fun/entertainment, To socialize'
 'For fun/entertainment, To socialize'
 'To relieve stress, To socialize, To improve skills/competition'
 'To relieve stress, To improve skills/competition'
 'To improve skills/competition, To relieve stress, To socialize'
 'To socialize' 'To improve skills/competition, To relieve stress'
 'For fun/entertainment, To socialize, To relieve stress'
 'To relieve stress, To improve skills/competition, To socialize'
 'To relieve stress, For fun/entertainment'
 'For fun/entertainment, To socialize, To improve skills/competition'
 'To socialize, To improve skills/competition']
[nan 'For fun/entertainment' 'To socialize' 'For the story/experience'
 'To relieve stress' 'To improve skills/competition']

In [55]:
# Copia de seguridad
df_copia_9 = df_copia_8.copy()

In [56]:
mapa_motivation = {
    'for fun/entertainment': 'Fun',
    'to relieve stress': 'Stress Relief',
    'to socialize': 'Socializing',
    'to socialize with friends': 'Socializing',
    'to improve skills/competition': 'Competition',
    "learning how it's designed": 'Learning',
    'for the story/experience': 'Story',
    'if no other better work': 'Other'
}

In [57]:
# Función para limpiar y mapear
def limpiar_motivation(col):
    def procesar(x):
        if pd.isna(x):
            return None
        x = str(x).lower()
        items = [i.strip() for i in x.replace(', ', ',').replace(' ,', ',').split(',')]
        normalizados = [mapa_motivation.get(i, i.title()) for i in items]
        return ', '.join(sorted(set(normalizados)))
    return col.apply(procesar)

df_copia_9['motivation_1'] = limpiar_motivation(df_copia_9['motivation_1'])
df_copia_9['motivation_2'] = limpiar_motivation(df_copia_9['motivation_2'])

In [58]:
respuestas_m1 = df_copia_9['motivation_1'].dropna().str.split(',').explode().str.strip()
respuestas_m2 = df_copia_9['motivation_2'].dropna().str.split(',').explode().str.strip()

categorias_motivation = sorted(set(respuestas_m1).union(set(respuestas_m2)))

df_motivation = pd.DataFrame(index=df_copia_9.index)

for cat in categorias_motivation:
    df_motivation[f'motivation1_{cat}'] = df_copia_9['motivation_1'].fillna('').apply(lambda x: int(cat in x))
    df_motivation[f'motivation2_{cat}'] = df_copia_9['motivation_2'].fillna('').apply(lambda x: int(cat in x))

df_motivation = df_motivation.loc[:, (df_motivation != 0).any(axis=0)]
df_motivation = df_motivation.loc[df_motivation.sum(axis=1) > 0]

df_motivation = df_motivation[sorted(df_motivation.columns)]

In [59]:
df_motivation

,motivation1_Competition,motivation1_Etc,motivation1_Fun,motivation1_Learning,motivation1_Other,motivation1_Socializing,motivation1_Stress Relief,motivation2_Competition,motivation2_Fun,motivation2_Socializing,motivation2_Story,motivation2_Stress Relief
0,0,0,1,0,0,0,1,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0,0
4,1,0,1,0,0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,0,1,0,0,1,0,0,0,0,1,0
496,0,0,0,0,0,0,1,0,0,0,1,0
497,1,0,1,0,0,1,0,0,0,0,1,0
498,1,0,0,0,0,1,0,0,1,0,0,0
499,0,0,0,0,0,1,1,0,1,0,0,0